<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:haf="https://github.com/haf/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd"
      internalLogFile="Logs/nlog-error-log.txt" internalLogLevel="Warn"
      >

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!-- WARNING: THIS FILE WORKS IN CONJUNCTION WITH LogFileManager. MAKE SURE TO KEEP THE FILES IN SYNC -->

  <targets>
    <!--  timeToSleepBetweenBatches="0" -->
    <!--<default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow" timeToSleepBetweenBatches="0" />--> 
    <target name="AppLog"
            xsi:type="File"
            fileName="Logs/AppLog.txt"
            concurrentWrites="false"
            keepFileOpen="false"
            openFileCacheTimeout="30"
            >
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="AppLog" />
  </rules>

</nlog>